{% block body %}
<h1 class="my-20 text-4xl text-center font-semibold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Testimonials</h1>

<div class='grid grid-cols-3 gap-4'>
    
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>

            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>

            <div class="rating mb-4 flex mt-4 justify-center">
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
            </div>

            <span class="text-sm text-gray-500 dark:text-gray-400 px-5"> I reviewed and purchased a number of different RE Themes before settling on WPResidence. I've developed two websites so far using this theme; these customers have dramatically different needs, and styles and this theme works spectacular & great for both of them. I recommend this theme from my heart.</span>

        </div>
    </div>

    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>

            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>

            <div class="rating mb-4 flex mt-4 justify-center">
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
            </div>

            <span class="text-sm text-gray-500 dark:text-gray-400 px-5"> I reviewed and purchased a number of different RE Themes before settling on WPResidence. I've developed two websites so far using this theme; these customers have dramatically different needs, and styles and this theme works spectacular & great for both of them. I recommend this theme from my heart.</span>

        </div>
    </div>
    
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>

            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>

            <div class="rating mb-4 flex mt-4 justify-center">
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
            </div>

            <span class="text-sm text-gray-500 dark:text-gray-400 px-5"> I reviewed and purchased a number of different RE Themes before settling on WPResidence. I've developed two websites so far using this theme; these customers have dramatically different needs, and styles and this theme works spectacular & great for both of them. I recommend this theme from my heart.</span>

        </div>
    </div>

</div>

{% endblock %}